#map {
    width: 100%;
    height: 500px;
}

#resultat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 50px 50px 50px 50px;
   
}

#liste {
    font-family: monospace;
}

h1 {
    font-family:monospace;
    ;
}

.formulaire {
   background-image: url(../img/bg.jpg);
}